<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Card</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        .card-container {
            max-height: 80vh;
            overflow-y: auto;
        }
    </style>
</head>
<body th:fragment="content">
<div class="card-container p-4">
    <div class="p-4 m-4 flex justify-end">
        <button
                onclick="openModal()"
                class="bg-amber-600 text-white px-4 py-2 rounded-md shadow hover:bg-amber-700">
            Crear hotel
        </button>
    </div>


    <!-- Iterar sobre la lista de hoteles si hay elementos -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div th:each="hotel : ${hotels}"
             class="bg-white shadow-lg rounded-lg overflow-hidden mx-auto flex flex-col h-full">
            <div class="block flex-grow">
                <!-- Enlace que redirige a la página del hotel solo al hacer clic en la imagen -->
                <a th:href="@{'/roomsByHotel/' + ${hotel.id_hotel}}">
                    <img class="w-full h-32 object-cover"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-60vegpRLheoAWYwRj2QH7U3gHb0vBdvIEQ&s"
                         alt="Hotel Image">
                </a>
                <div class="p-4">
                    <!-- Enlace que redirige a la página del hotel solo al hacer clic en el título -->
                    <a th:href="@{'/roomsByHotel/' + ${hotel.id_hotel}}">
                        <h2 class="text-xl font-bold text-gray-800"
                            th:text="${hotel.name}">Hotel Nombre</h2>
                    </a>
                    <p class="text-gray-600 mt-1"
                       th:text="'Ubicación: ' + ${hotel.address}">Ubicación:
                        Ciudad, País</p>
                    <p class="text-gray-600 mt-1"
                       th:text="'Calificación: ⭐⭐⭐⭐ (' + ${hotel.rating} + '/5)'">
                        Calificación: ⭐⭐⭐⭐ (4.5/5)</p>
                    <p class="text-gray-600 mt-2"
                       th:text="${hotel.description}">
                        Este hotel ofrece una estancia cómoda con excelentes
                        instalaciones.</p>
                </div>
            </div>
            <div class="flex justify-between items-center mt-auto p-4">
                <button th:attr="onclick='openEditModal(' + ${hotel.id_hotel} + ', \''
            + ${hotel.name} + '\', \''
            + ${hotel.description} + '\', \''
            + ${hotel.email} + '\', \''
            + ${hotel.address} + '\', \''
            + ${hotel.phone} + '\', ' + ${hotel.rating} + ')'"
                        class="bg-amber-600 text-white px-2 py-1 rounded-md shadow hover:bg-amber-700">
                    Actualizar
                </button>
                <form action="/deleteHotel" method="POST"
                      onsubmit="confirmDelete(event);">
                    <input type="hidden" name="id_hotel"
                           th:value="${hotel.id_hotel}"/>
                    <button type="submit"
                            class="text-amber-600 hover:text-amber-500 font-medium">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="reservationModal"
         class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg p-6 max-w-lg w-full">
            <div class="flex justify-between items-center">
                <h3 class="text-xl font-bold">Crear hotel</h3>
                <button onclick="closeModal()"
                        class="text-gray-600 hover:text-gray-900">&times;
                </button>
            </div>
            <p class="mt-4">Por favor, complete los campos para crear un hotel
                .</p>
            <form class="mt-6" th:action="@{/hotels}" method="POST"
                  onsubmit="showLoaderFunc()">
                <div class="mb-4">
                    <label for="name"
                           class="block text-sm font-medium text-gray-700">Nombre
                        completo</label>
                    <input type="text" id="name" name="name"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="description"
                           class="block text-sm font-medium text-gray-700">Descripcion</label>
                    <input type="text" id="description" name="description"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="email"
                           class="block text-sm font-medium text-gray-700">Correo
                        electronico</label>
                    <input type="text" id="email" name="email"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="address"
                           class="block text-sm font-medium text-gray-700">Direccion</label>
                    <input type="text" id="address" name="address"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="phone"
                           class="block text-sm font-medium text-gray-700">Telefono</label>
                    <input type="text" id="phone" name="phone"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="rating"
                           class="block text-sm font-medium text-gray-700">Rating</label>
                    <input type="number" id="rating" name="rating" min="1"
                           max="5"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="flex justify-end space-x-4">
                    <button type="button" onclick="closeModal()"
                            class="bg-gray-300 text-gray-800 px-4 py-2 rounded-md hover:bg-gray-400">
                        Cancelar
                    </button>
                    <button type="submit"
                            class="bg-amber-600 text-white px-4 py-2 rounded-md hover:bg-amber-700">
                        Confirmar
                    </button>
                </div>
            </form>

        </div>
    </div>

    <!-- Modal Edicion -->
    <div id="reservationModalEdicion"
         class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg p-6 max-w-lg w-full">
            <div class="flex justify-between items-center">
                <h3 class="text-xl font-bold">Editar hotel</h3>
                <button onclick="openModalEdicion()"
                        class="text-gray-600 hover:text-gray-900">&times;
                </button>
            </div>
            <p class="mt-4">Por favor, complete los campos para poder editar el
                hotel
                .</p>
            <form class="mt-6" th:action="@{/updateHotel}" method="POST"
                  onsubmit="showLoaderFunc()">
                <div class="mb-4">
                    <label for="name"
                           class="block text-sm font-medium text-gray-700">Nombre
                        completo</label>
                    <input type="text" id="nameE" name="name"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <input type="hidden" name="id_hotel" id="hotelId"/>
                    <label for="description"
                           class="block text-sm font-medium text-gray-700">Descripcion</label>
                    <input type="text" id="descriptionE" name="description"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="email"
                           class="block text-sm font-medium text-gray-700">Correo
                        electronico</label>
                    <input type="text" id="emailE" name="email"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="address"
                           class="block text-sm font-medium text-gray-700">Direccion</label>
                    <input type="text" id="addressE" name="address"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="phone"
                           class="block text-sm font-medium text-gray-700">Telefono</label>
                    <input type="text" id="phoneE" name="phone"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="mb-4">
                    <label for="rating"
                           class="block text-sm font-medium text-gray-700">Rating</label>
                    <input type="number" id="ratingE" name="rating" min="1"
                           max="5"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-amber-500 focus:border-amber-500">
                </div>
                <div class="flex justify-end space-x-4">
                    <button type="button" onclick="closeModalEdicion()"
                            class="bg-gray-300 text-gray-800 px-4 py-2 rounded-md hover:bg-gray-400">
                        Cancelar
                    </button>
                    <button type="submit"
                            class="bg-amber-600 text-white px-4 py-2 rounded-md hover:bg-amber-700">
                        Confirmar
                    </button>
                </div>
            </form>

        </div>
    </div>

    <div th:if="${session.errorMessage}"
         th:with="message=${session.errorMessage}">
        <script>
            const message = "[[${session.errorMessage}]]";
            const icon = "[[${session.icon}]]";

            Swal.fire({
                title: icon === "error" ? "Error" : "Éxito",
                text: message,
                icon,
                confirmButtonText: 'OK',
                position: "center",
                color: "white",
                background: "rgba(0,0,0,0.9)",
                toast: true,
                timer: 2000,
                allowEscapeKey: true,
            }).then(() => {
                fetch("clearSession", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                });
            })
        </script>
    </div>


</div>
<!-- Loader -->
<div id="loader"
     class="hidden fixed inset-0 flex items-center justify-center bg-gray-600 bg-opacity-50 z-50">
    <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full text-white"
         role="status">
        <span class="visually-hidden"></span>
    </div>
</div>

<script>

    function confirmDelete(event) {
        event.preventDefault();
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esta acción!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar',
            position: "center",
            color: "white",
            background: "rgba(0,0,0,0.9)",
            toast: true,
            allowEscapeKey: true,
        }).then((result) => {
            if (result.isConfirmed) {
                showLoaderFunc()
                event.target.submit();
            }
        });
    }


    function openModal() {
        document.getElementById('reservationModal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('reservationModal').classList.add('hidden');
    }

    function openModalEdicion() {
        document.getElementById('reservationModalEdicion').classList.remove('hidden');
    }

    function closeModalEdicion() {
        document.getElementById('reservationModalEdicion').classList.add('hidden');
    }

    function openEditModal(id_hotel, name, description, email, address, phone, rating) {
        document.getElementById("hotelId").value = id_hotel;
        document.getElementById("nameE").value = name;
        document.getElementById("descriptionE").value = description;
        document.getElementById("emailE").value = email;
        document.getElementById("addressE").value = address;
        document.getElementById("phoneE").value = phone;
        document.getElementById("ratingE").value = rating;
        event.stopPropagation()
        openModalEdicion();
    }

    function showLoaderFunc() {
        document.getElementById("loader").classList.remove("hidden");
    }

    function hideLoaderFunc() {
        document.getElementById("loader").classList.add("hidden");
    }


    window.onload = function () {
        showLoaderFunc();

        setTimeout(function () {
            hideLoaderFunc();
        }, 500);
    }


</script>

<style>
    .loader {
        border-top-color: #3498db;
        animation: spin 1s infinite linear;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
</style>

</body>
</html>
