<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteleria-App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/signUp.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/hotels.js}" defer></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        @keyframes pulse {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0.5;
            }
        }

        .skeleton {
            background-color: #e2e8f0;
            animation: pulse 0.8s infinite ease-in-out;
        }
    </style>


</head>
<body class="bg-gray-100 flex flex-col min-h-screen">

<!-- Navbar -->
<nav class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16 items-center">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <a href="/" class="text-xl font-bold text-gray-800">Inicio</a>
            </div>

            <!-- Links for desktop view -->
            <div class=" sm:flex space-x-8">
                <a th:href="@{/hotels}"
                   class="text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium">Hoteles</a>
                <a th:href="@{/hotels}"
                   th:if="${session.token != null and session.token != ''}"
                   class="text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium">Reporteria</a>
                <a th:href="@{/myReservations}"
                   th:if="${session.token != null and session.token != ''}"
                   class="text-gray-900 hover:text-gra y-700 px-3 py-2 rounded-md text-sm font-medium">Mis
                    reservaciones</a>
                <a th:href="@{/rooms}"
                   th:if="${session.token != null and session.token != ''}"
                   class="text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium">Habitaciones</a>
                <a th:href="@{/me}"
                   th:if="${session.token != null and session.token != ''}"
                   class="text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium">Mi
                    perfil</a>
                <a th:href="@{/myReservations}"
                   th:if="${session.token != null and session.token != ''}"
                   class="text-gray-900 hover:text-gra y-700 px-3 py-2 rounded-md text-sm font-medium">Mis
                    reservaciones</a>
                <a th:href="@{/signUp}"
                   th:if="${session.token == null or session.token == ''}"
                   class="text-gray-900 hover:text-gra y-700 px-3 py-2 rounded-md text-sm font-medium"
                >Registrarse </a>
                <a th:href="@{/signIn}"
                   th:if="${session.token == null or session.token == ''}"
                   class="text-gray-900 hover:text-gra y-700 px-3 py-2 rounded-md text-sm font-medium"
                >Iniciar sesión </a>
            </div>

            <!-- Hamburger menu for mobile view -->
            <div class="sm:hidden flex items-center">
                <button id="menu-toggle"
                        class="text-gray-900 focus:outline-none">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, shown when hamburger icon is clicked -->
    <div id="mobile-menu" class="sm:hidden hidden">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <a th:href="@{/hotels}"
               class="block text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-base font-medium">Hoteles</a>
            <a th:href="@{/rooms}"
               class="block text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-base font-medium">Habitaciones</a>
            <a th:href="@{/report}"
               class="block text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-base font-medium">Reporteria</a>
            <a th:href="@{/me}"
               class="block text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-base font-medium">Mi
                perfil</a>
        </div>
    </div>
</nav>

<!-- Main content -->
<main
        class="flex-grow flex justify-center items-center py-8 gap-2"
>
    <div id="contentArea" th:replace="${pageContent} :: content"></div>
</main>


<!-- Footer -->
<footer class="bg-gray-800 text-white py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </div>
</footer>

<script>
    // Toggle mobile menu
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });

</script>

</body>
</html>
