<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">
<div th:Fragment="content">
    <div class="container mx-auto p-8">
        <h1 class="text-5xl font-extrabold text-center text-gray-800 mb-10">Mi
            Perfil</h1>

        <div class="bg-white shadow-lg rounded-lg p-8">
            <div class="flex items-center border-b pb-4 mb-6">
                <img class="w-24 h-24 rounded-full border-2 border-amber-500"
                     src="https://via.placeholder.com/100" alt="Foto de Perfil">
                <div class="ml-6">
                    <h2 class="text-3xl font-semibold text-gray-800">Juan
                        Pérez</h2>
                    <p class="text-gray-600">juan.perez@example.com</p>
                </div>
            </div>

            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Información
                Personal</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="block text-gray-700 font-medium mb-1">Número
                        de Teléfono</label>
                    <p class="bg-gray-100 border border-gray-300 rounded p-3">
                        +34 600 123 456</p>
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-1">Dirección</label>
                    <p class="bg-gray-100 border border-gray-300 rounded p-3">
                        Calle Falsa 123, Ciudad, País</p>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="mt-6 flex justify-end">
                    <button type="submit"
                            style="background-color: #f59e0b; color: white; padding: 10px 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);">
                        Editar Perfil
                    </button>
                </div>
                <div class="mt-6 flex justify-end">
                    <button type="submit"
                            style="background-color: #f59e0b; color: white; padding: 10px 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);">
                        Cerrar Sesión
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
